:root {
  /* Use the variables defined in tailwind.config.js */
  --scrollbar-thumb: theme('colors.scrollbar-thumb');
  --scrollbar-track: theme('colors.scrollbar-track');
}

/* In some dropdowns, like FormSelect, scrollbars' borders and container's borders
  create an appearance of double-border. This fixes that. */
.scrollbar-no-borders::-webkit-scrollbar-track {
  background-color: var(--scrollbar-track);
}
.scrollbar-no-borders::-webkit-scrollbar-thumb {
  border: 2px solid transparent;
  background-color: var(--scrollbar-thumb);
  border-radius: 4px;
  background-clip: content-box;
}
.scrollbar-no-borders::-webkit-scrollbar {
  /* For some weird reason if I don't use this, the other scrollbar styles don't apply */
  width: 10px;
}

/* Sometimes I want to be able to hide the scrollbar (like in FormSelectAutocomplete) */
/* Hide scrollbar for Chrome, Safari and Opera */
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}
/* Hide scrollbar for IE, Edge and Firefox */
.scrollbar-hide {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
/* center-container */
.center-container {
    justify-content: center; /* Center horizontally */
    align-items: center;     /* Center vertically */
}
.login-spacer {
    height: 40px; /* Adjust the value as needed */
}
/*
Make sure toastify notifications appear above the Modals' background.
(!important is necessary here because toastify css is imported in MainLayout.tsx,
and ends up having a higher priority than this file, which is imported in _app.tsx)
*/
.Toastify__toast-container {
  z-index: 999999 !important;
}
